* {
    box-sizing: border-box;
    margin: 0;
    /* background-color: rgba(233, 240, 241, 0.85); */
    background-color: rgb(103, 132, 120);
    font-family: sans-serif;
    max-width: 100%;
    /* color: white; */
}

body {
    background-color: ghostwhite;
}

#welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
textarea,
.chatBoard div {
    background-color: white;
}

form#registration input,
form#registration label {
    display: block;
}

img {
    object-fit: cover;
}

/* img.loggedIn {
    width: 18vw;
    border-radius: 50%;
} */

#login,
#registration,
#reset,
#enterCode {
    display: flex;
    flex-direction: column;
}

.logoApp img {
    width: 13vw;
    max-width: 8rem;
    min-width: 5rem;
    border-radius: 50%;
}

.logoWelcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoWelcome img {
    width: 21vw;
    max-width: 14rem;
    min-width: 7rem;
    border-radius: 50%;
}

.error {
    color: red;
    font-weight: bolder;
}

.profilePicContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profileHeader .profilePicContainer img {
    /* border: 2px red solid;
    border-radius: 25%; */
    width: 14vw;
    max-width: 9rem;
    min-width: 4rem;
    height: 14vw;
    max-height: 9rem;
    min-height: 4rem;
    background-color: white;
}

.profileHeader .profilePicContainer img {
    width: 12vw;
    max-width: 8rem;
    min-width: 4rem;
    height: 12vw;
    max-height: 8rem;
    min-height: 4rem;
}

.profileHeader img {
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* #profilePic {
    border: 2px red solid;
    border-radius: 25%;
    width: 4rem;
    height: 4rem;
} */

.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileBody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-top: 2rem;
}

#transparentCover {
    position: absolute;
    transform: translateY(37vh);
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(27, 44, 44, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
}

#popUp {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34362b;
}

.imagebox {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.shadow {
    box-shadow: 4px 10px 5px rgba(0, 0, 0, 0.726);
}

#closeButton {
    /* background-color: black; */
    color: white;
    border: solid white 2px;
    width: fit-content;
    align-self: flex-end;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#welcomeText {
    margin-left: 2rem;
}

.profilePicContainer img,
.otherProfilePicContainer img {
    border: 2px red solid;
    border-radius: 25%;
}

.profileBody .profilePicContainer img {
    width: 17vw;
    min-width: 5rem;
    max-width: 11rem;
    height: 17vw;
    min-height: 5rem;
    max-height: 11rem;
}

.profileBody .otherProfilePicContainer img {
    width: 10vw;
    min-width: 5rem;
    max-width: 7rem;
    height: 10vw;
    min-height: 5rem;
    max-height: 7rem;
    background-color: white;
}

.findPeople {
    width: 8rem;
}

.bioText {
    width: 25vw;
    min-width: 8rem;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile h2 {
    margin-left: 1.5rem;
}

.wannabes,
.friends {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#friendscontainer h2,
#friendscontainer p {
    margin-bottom: 0.8rem;
}

.wannabe,
.friend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.nameAndButton {
    display: flex;
    flex-direction: column;
}

.chat {
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    border-radius: 12px;
    width: 50vw;
    height: 60vh;
}

.chat,
.chat div,
.chat h1,
.chat p {
    background-color: rgb(69, 120, 99);
}

/* h1,
p.bioText {
    color: white;
} */

div.chatMessage,
div.chatMessage div,
div.chatMessage p {
    color: black;
    background-color: white;
}

.chatBoard {
    display: flex;
    flex-direction: column-reverse;
    /* border: 2px red dotted; */
    width: 50vw;
    height: 50vh;
    overflow-y: scroll;
}
.chatMessages {
    display: flex;
    flex-direction: column;
}

.chatMessage {
    display: flex;
    flex-direction: row;
}
.messagePic img {
    width: 7vw;
    min-width: 2rem;
    max-width: 5rem;
    height: 7vw;
    min-height: 2rem;
    max-height: 5rem;
    border: 1px red solid;
    background-color: white;
}



p,
.messagePic {
    padding-left: 4px;
}

textarea {
    width: 40vw;
    height: 10vh;
}

.small {
    width: 3.5vw;
    min-width: 1.5rem;
    max-width: 3.5rem;
    height: 3.5vw;
    min-height: 1.5rem;
    max-height: 3.5rem;
    border-radius: 50%;
}

.onlinePeople {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.profileHeader a:link,
.profileHeader a:visited,
.profileHeader a,
.profileHeader p,
button,
#closeButton {
    color: white;
    text-decoration: none;
    border: 2px white solid;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(69, 120, 99);
    cursor: pointer;
}

.chatInput,
.onlineUserBox,
.onlineUserBox p,
.onlineUserBox div {
    border-radius: 10px;
    color: white;
    padding-left: 5px;
}

#popUp h2 {
    background-color: transparent;
    color: white;
}
